html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.pageTitle {
  font-size: 32px;
  font-weight: bold;
}

.bodyText {
  font-size: 1.1em;
  line-height: 160%;
  text-align: left;
  max-width: 700px;
  margin-bottom: 25px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.submitBtn:hover {
  cursor: pointer;
}

.homeInput {
  width: 312px;
  height: 30px;
  border: 3px solid #EDEDED;
  border-radius: 5px;
  margin-bottom: 6px;
  padding-left: 8px;
}

.grayBG:before {
  content:"";
  z-index: -1;
  background-color: #f7f7f7;
  position: absolute;
  margin-top: -4px;
  left: -2000px;
  height: 100%;
  width: 2000px;
}

.navItem {
  opacity: 0.8;
}

.navItem:hover {
  opacity: 1;
}

.owlLogo {
    bottom: -3px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #888;
  opacity: 1; /* Firefox */
}

.nyc-shanghai-images {
    white-space: nowrap;
    max-width: 100%;
}
.nyc-shanghai-images img {
    max-height: 380px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #999999;
}
.img-nyc {
    -webkit-clip-path: polygon(0 0, 100% 0, 83% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0 100%);
}
.img-shanghai {
    -webkit-clip-path: polygon(30% 0, 100% 0%, 100% 100%, 10% 100%);
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 10% 100%);
    margin-left: -370px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.theContent {
  padding-top: 100px;
  width: 1100px;
}

.flexDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bolder {
  font-weight: bold;
}

.theNav {
  height: 48px; 
  position: fixed;
  padding-top: 15px;
  box-Shadow: 0px 2px 7px #999;
}

.theTestimonial, .theTestimonial2 {
  width: 40vw;
  padding-left: 14px;
  padding-right: 14px;
}

.theTestimonial2 {
  margin-left: 60px;

}

.theHomeHeader {
  font-size: 42px;
}

/* MOBILE */
@media screen and (max-width: 800px) {
  .subNav {
    font-size: 22px;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    padding-left: 25px;
  }

  .bodyText {
    font-size: 1.0em;
    line-height: 160%;
    text-align: left;
    max-width: 700px;
    margin-bottom: 25px;
  }

  .owlLogo {
      bottom: 2px;
  }

  .theHomeHeader {
    font-size: 34px;
  }

  .subNav1 {
    background-color: rgba(255,255,255,0.1);
    margin-top:4px;
  }
  .subNav2 {
    background-color: rgba(255,255,255,0.2);
  }
  .subNav3 {
    background-color: rgba(255,255,255,0.36);
  }
  .subNav4 {
    background-color: rgba(255,255,255,0.49);
  }
  .subNav5 {
      background-color: rgba(255,255,255,0.65);
  }

  .theTestimonial, .theTestimonial2 {
    width: 82vw;
    font-size: 14px;
  }
  .theTestimonial2 {
    margin-left: 0px;
  }

  .theNav {
    padding-top: 0px;
    margin-top: 0px;
    height: auto;
    position: absolute;
    box-Shadow: initial;
  }

  .theContent {
    padding-top: 300px;
    width: auto;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .nyc-shanghai-images {
      white-space: nowrap;
      max-width: 100%;
  }
  .nyc-shanghai-images img {
      border-radius: 0px;
      width: 100vw;
      max-width: 100vw;
      margin-left: -5vw;
  }

}

